<div class="container">
    <h1>Angular Directives Information</h1>
    <p>
        Angular directives are markers on a DOM element (such as an attribute,
        element name, or CSS class) that tell Angular to attach a specified behavior
        to that DOM element or even transform the DOM element and its children.
    </p>

    <h2>Types of Directives:</h2>
    <ul>
        <li>
            <strong>Attribute Directives:</strong> Change the appearance or behavior
            of an element, component, or another directive.
        </li>
        <li>
            <strong>Structural Directives:</strong> Change the DOM layout by adding
            and removing DOM elements based on conditions.
        </li>
    </ul>

    <h2>Examples:</h2>
    <p>
        <strong>ngIf:</strong> A structural directive that conditionally includes or
        excludes a DOM element based on an expression.
        <br />
        <strong>ngClass:</strong> An attribute directive that adds or removes CSS
        classes based on an expression evaluation.
    </p>

    <h2>Usage:</h2>
    <p>
        You can use directives in Angular templates like this:
        <br />
        <!-- <code>&lt;div [ngClass]="{'active': true}"
      *ngIf="isVisible"&gt;&lt;/div&gt;</code> -->
    </p>
</div>
<div class="container">
    <h4>Structural Directives</h4>
    <div class="d-flex justify-content-center align-items-center gap-2">
        <button class="btn-primary btn" (click)="changeActiveStatus()">{{isActive?"Active":"Inactive"}}</button>
    </div>
</div>
@if(isActive){
<div class="container part-1">
    <span>This content is only visible if <strong>isActive</strong> is true. This is done using structural
        directives.</span>
    <span>This element/tag will be removed from DOM when <strong>isActive</strong> is false.</span>
    <span>This way it will improve the performance.</span>
</div>
}@else{
<div class="container part-2">
    <span>This content is only visible if <strong>isActive</strong> is false.</span>
    <span>This element/tag will be removed from DOM when <strong>isActive</strong> is true.</span>
    <span>This way it will improve the performance.</span>
</div>
}

<div class="container">
    <h3>Below content is render using for loop.</h3>
    @for(itr of name; let i = $index; track i){
    <ul>
        <li>{{itr}}</li>
    </ul>
    }@empty{
    <span>No elment present in array.</span>
    }
</div>

<div class="container d-flex align-items-center justify-content-center flex-column">
    <h3>Traffic Lights</h3>
    @for (sec of [0, 1, 2]; track sec) {
    <div class="rounded-circle mt-3" [ngClass]="{
                'bg-black': getTrafficLightColor(sec) === 'black',
                'bg-red': getTrafficLightColor(sec) === 'red',
                'bg-green': getTrafficLightColor(sec) === 'green',
                'bg-yellow': getTrafficLightColor(sec) === 'yellow'
            }">
    </div>
    }
    <div>
        <p [ngStyle]="{'background-color': isRed ? 'red' : 'blue', 'color': 'white'}">
            Here is the {{isRed ? "red" : "blue"}} color background. Click below button to change the background color.
          </p>
        <button class="btn btn-primary" (click)="changeColor()">Click Me!</button>
    </div>
</div>