.rounded-circle {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the element circular */
}

.bg-black {
  background-color: #000;
}

.border-black {
  border: 1px solid #000;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-yellow {
  background-color: yellow;
}
