<div class="login-container">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <h2>Login</h2>
    
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        required
        [(ngModel)]="email"
        name="email"
        #emailInput="ngModel"
      />
      @if(emailInput.invalid && emailInput.touched) {
        <div class="error">
          Email is required.
        </div>
      }
    </div>
    
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        required
        [(ngModel)]="password"
        name="password"
        #passwordInput="ngModel"
      />
      @if(passwordInput.invalid && passwordInput.touched){
        <div class="error">
          Password is required.
        </div>
      }
    </div>
    
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
