<header>
    <h1>Data Binding in Angular</h1>
</header>
<div class="container">
    <section>
        <h2>One-Way Data Binding</h2>
        <p>One-way data binding in Angular refers to the flow of data from the component to the view or from the view to the component. This can be done using:</p>
        <ul>
            <li>Interpolation</li>
            <li>Property Binding</li>
            <li>Attribute Binding</li>
            <li>Event Binding (View to Component)</li>
            <li>Style Binding</li>
            <li>Class Binding</li>
        </ul>
        <h3>Interpolation</h3>
        <div class="code">
            <pre>
&lt;h1&gt;{{ title }}&lt;/h1&gt;
            </pre>
        </div>
        <p>In the above example, the value of the component's <code>title</code> property is displayed in the view.</p>

        <h3>Property Binding</h3>
        <div class="code">
            <pre>
&lt;img [src]="imageUrl" alt="Image description"&gt;
            </pre>
        </div>
        <p>Property binding is used to bind the value of a component property to an element property in the view.</p>

        <h3>Event Binding</h3>
        <div class="code">
            <pre>
&lt;button (click)="handleClick()"&gt;Click me&lt;/button&gt;
            </pre>
        </div>
        <p>Event binding allows you to listen to events such as clicks and key presses. The method <code>handleClick()</code> is called when the button is clicked.</p>
    </section>
</div>
<section>
    <h2>Two-Way Data Binding</h2>
    <p>Two-way data binding in Angular is a combination of property binding and event binding. It allows you to synchronize data between the component and the view.</p>
    <h3>Example with ngModel</h3>
    <div class="code">
        <pre>
&lt;input [(ngModel)]="name" placeholder="Enter your name"&gt;
&lt;p&gt;Hello, {{ name }}!&lt;/p&gt;
        </pre>
    </div>
    <p>In this example, the value of the <code>name</code> property in the component is bound to the input field and the paragraph element. Any changes to the input field are reflected in the <code>name</code> property and vice versa.</p>
    <input type="text" placeholder="Enter your name" [(ngModel)]="name"/>
    <p>Hello {{ name }}</p>
</section>