.navbar {
  background-color: #007bff;
  color: white;
  height: 100vh;
  align-items: flex-start;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 0px !important;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}
