<div class="container-fluid">
  <div class="row">
    <!-- Navbar Column -->
    <div class="col-lg-3 col-md-4 col-sm-12 p-0">
      <nav class="navbar navbar-expand-md flex-column">
        <div class="d-flex flex-column align-items-center w-100">
          <a class="navbar-brand my-3 me-0 text-white" routerLink="/"
            >Learn Angular</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse w-100 d-flex justify-content-center align-items-center"
            id="navbarNav"
          >
            <ul class="navbar-nav flex-column text-center w-100">
              <li class="nav-item my-2">
                <a class="nav-link text-white" routerLink="/directives">Directives</a>
              </li>
              <li class="nav-item my-2">
                <a class="nav-link text-white" routerLink="/data-binding">Data Binding</a>
              </li>
              <li class="nav-item my-2">
                <a class="nav-link text-white" routerLink="/pipes">Pipes</a>
              </li>
              <li class="nav-item my-2">
                <a class="nav-link text-white" routerLink="/login">Login</a>
              </li>
              <li class="nav-item my-2">
                <a class="nav-link text-white" routerLink="/register">Register</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!-- Content Column -->
    <div class="col-lg-9 col-md-8 col-sm-12 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
